@import 'Vars';

.Menu {
  width: 130px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
  position: absolute; //Permite desanclar de la estructura que tiene
  top: 60px;
  right: 50px;
  background-color: var(--white);
}
.Menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.Menu ul li {
  text-align: start;
}
.Menu ul li:nth-child(1),
.Menu ul li:nth-child(2) {
  font-weight: bold;
}
.Menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}
.Menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}
.Menu ul li a {
  color: var(--back);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

@media (max-width: 768px) {
  .Menu {
    position: absolute;
    left: 0;
    top: calc(60px + 350px);
    width: 200px;
  }
}
